$color-white: #F5F5F5FF;
$color-light-grey: #ececec;
$color-cloud-grey: #c5c6d0;
$color-silver: #adadc9;
$color-grey: #777a7a;
$color-turquoise: #9fd3c7;
$color-navi-blue: #385170;
$color-dark-blue: #142d4c;
$color-black: #000000;
